<div class="login">
    <a class="login__logo flex"><img src="https://fakestoreapi.com/icons/logo.png" alt="Logo"> <span>Fake Store</span></a>

    <div class="wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
            <div class="input__wrapper">
                <label for="username">Username</label><br/>
                <input type="text" formControlName="username" id="username" placeholder="Enter Username" >
                <div>
                    <small *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.['required']">Username is required</small>
                </div>
            </div>

            <div class="input__wrapper">
                <label for="password">Password</label><br/>
                <div class="ppt">
                    <input [type]="showPassword ? 'text': 'password'" formControlName="password" id="password" placeholder="Enter your password" >
                    <small (click)="togglePasswordVisibility()" class="toggle">{{showPassword ? 'Hide': 'Show'}}</small>
                </div> 
                <div>
                    <small *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.['required']">Password is required</small>
                </div>
            </div>

            <button type="submit" [disabled]="loginForm.invalid" >{{(isLoading$ | async)  ? 'Loading...' : 'Log In'}}</button>
        </form>
    </div>
</div>