@import '../../../../assets/sass/mixin';

.hero{
    background-color: var(--clr-bg-sec);
    padding-block: 4em;

    .my-grid{
        grid-template-columns: 1fr;
        gap: 2em;
        align-items: start;
        @include tabletBreakPoint{
            grid-template-columns: 1.5fr 3.5fr;
        }
    }

    &__catalog{
       ul{
            background-color: var(--clr-white);
            border: 1px solid var(--clr-primary-text);
            border-radius: .3em;

            

            li{
                padding-block: .7em;
                padding-inline: .7em;

                & + li{
                    border-top: 1px solid var(--clr-primary-text);
                }
            }
       }
    }

    &__banner{
        .carousel{
            // background-color: red;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
