@import '../../../assets/sass/mixin';

.hero{
    background-color: var(--clr-bg-sec);
    padding-block: 4em;

    .grid{
        grid-template-columns: 1fr;
        gap: 2em;
        align-items: start;
        @include tabletBreakPoint{
            grid-template-columns: 1.5fr 3.5fr;
        }
    }

    &__catalog{
       ul{
            background-color: var(--clr-white);
            border: 1px solid var(--clr-primary-text);
            border-radius: .3em;

            

            li{
                padding-block: .7em;
                padding-inline: .7em;

                & + li{
                    border-top: 1px solid var(--clr-primary-text);
                }
            }
       }
    }

    &__banner{
        .carousel{
            // background-color: red;
            height: 350px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



.products{
    padding-block: 4em;
    &__cta{
        justify-content: space-between;

        h3{
            font-weight: var(--fw-normal);
            color: var(--clr-secondary-text);
            font-size: 1.3rem;
        }

        .btn{
            @include Button;
            background-color: transparent;
            color: var(--clr-primary-dark);
            border: 1px solid var(--clr-primary-dark);
            padding: .4em 1em;
        }
    }

    &__list{
        gap: 2em;
        display: grid;
        margin-top: 2em;
        grid-template-columns: repeat(auto-fit, minMax(15em, 1fr));
    }
}

.product{
    padding: 2em;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow: hidden;
    transition: .4s;
    position: relative;
    &:hover{
        img{
            scale: 1.1;
        }

        .product__cart{
            bottom: 2em;
        }
    }

    img{
        height: 190px;
        margin-inline: auto;
        margin-bottom: 1.5em;
        transition: .4s;
    }

    &__price{
        color: var(--clr-secondary-text);
        font-size: 1.1rem;
    }

    &__cart{
        height: 40px;
        width: 40px;
        background-color: var(--clr-primary-dark);
        color: var(--clr-white);
        border-radius: 50%;
        position: absolute;
        bottom: -4em;
        right: 2em;
        transition: .4s;
    }
}