<header class="header">
    <div class="header__wrapper">
        <div class="container menu flex">
            <a href="#" class="menu__logo flex"><img src="https://fakestoreapi.com/icons/logo.png" alt="Logo"> <span>Fake Store</span></a>
            <div class="menu__search hide-small">
                <input type="text" placeholder="Search..." class="search">
                <button class="search__btn"><i class='bx bx-search' ></i></button>
            </div>

            <div class="menu__options hide-small flex">
                
                    <a href=":javascript" class="round-icon flex">
                        <div class="badge bx-tada">0</div>
                        <i class='bx bx-cart-alt'></i>
                    </a>
               
                
                    <a href=":javascript" class="round-icon flex">
                        <i class='bx bxs-user'></i>
                    </a>
               
                <div class="cart">
                   <small>Welcome</small>
                  <div class="div">
                    <div *ngIf="!(isSignedIn$ | async )">
                        <a (click)="toggle(true)">Sign In</a> | <a (click)="toggle(false)">Sign Up</a>
                    </div>
                    <div *ngIf="(isSignedIn$ | async )">
                        <a *ngIf="(user$ | async ) != null">{{(user$ | async)?.username}}</a> | <a (click)="logout()">Log Out</a>
                    </div>
                    
                  </div>
                </div>
            </div>

            <div class="menu__icon">
                <i class='bx bx-menu'></i>
            </div>

        </div>

        <hr class="hide-small">

        <nav class="header__nav container">
            <ul class="header__ul flex" role="list">
                <li *ngFor="let link of menuLinks"><a [routerLink]="link.path" >{{link.name}}</a></li>
                
            </ul>
        </nav>
    </div>
</header>

<p-dialog [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [(visible)]="display">
    <app-sign-in *ngIf="isSignIn"></app-sign-in>
    <app-sign-up *ngIf="!isSignIn"></app-sign-up>
</p-dialog>