<header class="header">
    <div class="container flex header__wrapper">
        <a href="#" class="header__logo"><img src="https://fakestoreapi.com/icons/logo.png" alt="Logo"></a>

        <nav class="header__nav">
            <div class="header__icon">
                <i class='bx bx-menu'></i>
            </div>
            <ul class="header__ul flex" role="list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Sign In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>