<footer class="footer">
    <div class="container">
        <div class="footer__cta flex">
            <div>
                <h3>Get It on The App Stores</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="flex">
                <a href="#"><img  src="https://cdn.iconscout.com/icon/free/png-512/google-166-189830.png?w=512&f=avif" alt="Playstore"></a>
                <a href="#"><img class="bb" src="https://www.freepnglogos.com/uploads/app-store-logo-png/download-on-the-app-store-logo-png-23.png" alt="Playstore"></a>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container footer__options">
        <div class="footer__menu">
            <h4>Brands</h4>
            <ul role="list">
                <li><a href="#">Addidas</a></li>
                <li><a href="#">Puma</a></li>
                <li><a href="#">Reebok</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Balenciaga</a></li>
                <li><a href="#">Home 6</a></li>
            </ul>
        </div>
        <div class="footer__menu">
            <h4>Company</h4>
            <ul role="list">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Find a Store</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer__menu">
            <h4>Help</h4>
            <ul role="list">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Money Refund</a></li>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Shipping Info</a></li>
                <li><a href="#">Open Dispute</a></li>
                <li><a href="#">Vouchers</a></li>
            </ul>
        </div>
        <div class="footer__menu">
            <h4>Help</h4>
            <ul role="list">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Youtube</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
    </div>

    <div class="footer__addon flex">
        <p>&#169; <span>FakeStore</span> All rights reserved {{ year }}</p>
    </div>
</footer>