:root{
    --clr-primary-dark: #C2185B;
    --clr-primary-light: #F8BBD0;
    --clr-primary: #E91E63;
    --clr-white: #FFFFFF;
    --clr-accent: #FF5252;
    --clr-primary-text:#757575 ;
    --clr-secondary-text: #212121;
    --clr-divider: #BDBDBD;
    --clr-bg-sec: #F8F9FA;

    --ff-primary: 'Work Sans', sans-serif;
    --ff-header: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
}